body{

}

.form-floating{
    position: relative;
}

.bi-envelope-at, .bi-file-lock-fill{
    position: absolute;
    top: calc(30%);
    right: 1.25rem;
    height: 5rem;
}



.form-floating label,.form-control .form-control{
    
    left: .25rem;
    padding-left: 3.5rem;
}


.btn{
    width: 100%;
}


.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}